/.vscode
/jlink.exe
/jlink.bat
/jlink.txt
/launch4j.log
/launch4j.xml
/laskerivit.ps1
/muistilista.txt
/start.bat
/java/Peli.jar
/tiedostot/pelitiedostot/huoneet
/tiedostot/pelitiedostot/default(old).kst