/.vscode
/bin
/Editori_vanha/.vscode
/debug.log
/hs_err_pid*
/jlink
/jlink.exe
/jlink.bat
/jlink.txt
/laskerivit.ps1
/launch4j.log
/launch4j.xml
/launch4j_keimo.xml
/muistilista.txt
/replay_pid*
/requestit udolle.txt
