/.vscode
/jlink
/jlink.exe
/jlink.bat
/jlink.txt
/launch4j.log
/launch4j.xml
/laskerivit.ps1
/muistilista.txt
/start.bat
/java/peli.jar
/tiedostot/pelitiedostot/huoneet
/tiedostot/pelitiedostot/default_old.kst
/tiedostot/pelitiedostot/default_2.kst
/hs_err_pid*
/replay_pid*
/debug.log